/* .App{ */
    /* background-image: url("./assests/images/background/Infraguard-Web-Background.jpg"); */
    /* height: 115vh; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .App{
    min-width: 1280px;
}
@media (min-width: 1400px){

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1280px !important;
    }
} */
